<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="version" content="1.0.0">
    <meta name="id" content="cms">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/svg+xml" href="/ai/favicon.svg">
    <!-- <link rel="icon" href="favicon.svg"> -->
    <title>jsoneditor</title>
</head>

<body>
    <json-editor id="jsoneditor" class="cms"></json-editor>
  
    <script type="module">
        import { CMS } from '/ai/cms/cms.js'
        let cms = new CMS()
        cms.initComponents()
    </script>
</body>

</html>